@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --page-background: #3b6280;
  --background: #082032;
  --primary: #ffaf00;
  --placeholder: #b4b4b4;
  --secondary: #01de7e;
  --contrast: #4f6779;
  --background-shadow: #233b4d;
  --text: #ffffff;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #ffaf00;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffaf00;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
